<div id="answers-container">
  <div id="answers-box-header">
    <%= render 'answers/answer_count', :question => question %>
  </div>
  <div id="answers-box">
    <% question.sorted_answers.each do |answer| %>
      <%= render 'answers/answer', :answer => answer %>
    <% end %>
  </div>
</div>
