<div id="question-details-box">
  <div id="details-box">
    <%= link_to question.user.name, user_path(question.user.id), :class => "question-user" %>
    <p class="timestamp">asked 16 hours ago</p>
  </div>
</div>
