  <p id="index-page-title">All Questions</p>
</div>
<div id="all-questions">
  <% @questions.each do |question| %>
    <div class="question-box">
      <div class="answers-box">
        <p class="num-answers"><%= question.answers.length %></p>
        <%= render 'answers/answer_count_home', :question => question %>
      </div>
      <div class="question-details-box">
        <div class="question-title-box">
          <%= link_to question.title, question_path(question) %>
        </div>
        <div class="question-user-box">
          <%= link_to question.user.name, user_path(question.user.id), :class => "question-user" %>
          <p class="timestamp">1m ago</p>
        </div>
      </div>
      <div class="float-clear"></div>
    </div>
  <% end %>
</div>
