<div id="errors"></div>
<div class="comment-form">
  <%= form_for(@comment, remote: true) do |f| %>
    <%= f.text_field :content, :class => "form-input" %>
    <%= f.hidden_field :answer_id, value: answer.id %>
    <%= f.submit "Add Comment", :class => "form-button" %>
  <% end %>
</div>
