body {
	margin: 0 auto;
	font-family: sans-serif;
	
	a {
		text-decoration: none;
		color: #0077cc;
		&:visited {
			color: #4a6b82;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	
	p {
		margin: 0;
	}

	header {
		background-color: #eee;
		height: 30px;
	}

	.form-input {
		width: 385px;
		height: 30px;
		font-size: 15px;
		padding-left: 10px;
		margin-bottom: 10px;
	}

	.form-button {
		height: 36px;
		font-size: 17px;
		padding: 0 30px;
		border: none;
		background-color: gray;
		color: white;
		transition: .2s;
		&:hover {
			cursor: hand; cursor: pointer;
			background-color: orange;
		}
	}

	.errors {
		width: 400px;
		border: 1px solid red;
		padding: 10px;
		padding-left: 15px;
		margin: 25px auto 0 auto;
		background-color: pink;
		color: red;
		font-size: 15px;
		.error-header {
			margin-bottom: 5px;
		}
		.error {
			margin-left: 10px;
		}
	}
}

#nav-links {
	width: 1000px;
	margin: 0 auto;
	padding-top: 7px;
	a {
		font-size: 13px;
		&:visited {
			color: #0077cc;
		}
	}
}

#home-button {
	float: left;
	font-family: 'Permanent Marker', sans-serif;
	font-size: 40px;
	color: black;
	margin-bottom: 20px;
	&:hover {
		text-decoration: none;
	}
}

#ask-button {
	box-sizing: border-box;
	float: right;
	height: 30px;
	padding: 4px 15px 0 15px;
	background-color: gray;
	color: white;
	font-size: 18px;
	margin: 19px 5px 0 0;
	transition: .2s;
	&:hover {
		background-color: orange;
		text-decoration: none;
	}
}

.nav-button {
	float: right;
	margin-left: 20px;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#logo-ask-box {
	margin-top: 25px;
	height: auto;
}

#page-title-box {
	border-bottom: 1px solid gray;
	height: 40px;
}

#yield {
	clear: both;
}
