#login-signup-form {
  width: 400px;
  margin: 25px auto;
  padding: 30px;
  background-color: #eee;
  position: relative;
}

#sign-up-link {
  font-size: 17px;
  position: absolute;
  left: 155px;
  bottom: 37px;
}
