<div class="product-details">
  <%= image_tag answer.picture_url, height: '200', width: '200', :class => "answer-image" %>
  <p><b>Product Name:</b> <%= answer.product_name %></p>
  <p class="answer-content"><%= answer.content %></p>
</div>
