/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #eee;
  height: 30px;
}

#nav-links {
  width: 1000px;
  margin: 0 auto;
  padding-top: 7px;
}

#nav-links a {
  font-size: 13px;
}

#nav-links a:visited {
  color: #0077cc;
}

.nav-button {
  float: right;
  margin-left: 20px;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#logo-ask-box {
  margin-top: 30px;
  height: auto;
}

#home-button {
  float: left;
  font-size: 35px;
  color: black;
  margin-bottom: 20px;
}

#home-button:hover {
  text-decoration: none;
}

#ask-button {
  box-sizing: border-box;
  float: right;
  height: 30px;
  padding: 4px 15px 0 15px;
  background-color: gray;
  color: white;
  font-size: 18px;
  margin: 5px 5px 0 0;
}

#ask-button:hover {
  background-color: orange;
  text-decoration: none;
}

#page-title-box {
  border-bottom: 1px solid gray;
  height: 40px;
}

#yield {
  clear: both;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:visited {
  color: #4a6b82;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}
